{% extends "blog/base.html" %}

{% block jumbo %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="topfix">About</h1>
        <p>Feel free to contact any of the officers for more info!</p>
      </div>
    </div>
{% endblock jumbo %}

{% block content %}
  <div class="row">
    <div class="col-lg-11 centered">
      <h1 class="topfix">Officers</h1>
      <div class="row">
        <div class="col-lg-11 centered">

          <br />
          <div class="row">
            <div class="col-lg-4 text-right">
              <h3 class="topfix">President</h3>
              <p>Jonathan Popa</p>
              <p>jmp108020@utdallas.edu</p>
            </div>
            <div class="col-lg-2">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c32.9.117.117/s100x100/72644_622983721052202_687655868_a.jpg" alt="President" class="img-rounded">
            </div>
            <div class="col-lg-2 text-right">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c11.9.108.108/s100x100/1185296_10200157155603142_2076894099_s.jpg" alt="Vice President" class="img-rounded">
            </div>
            <div class="col-lg-4">
              <h3 class="topfix">Vice President</h3>
              <p>Nathan Hudson</p>
              <p>neh092020@utdallas.edu</p>
            </div>
          </div>

         <br />
          <div class="row">
            <div class="col-lg-4 text-right">
              <h3 class="topfix">Secretary</h3>
              <p>Alec Brown</p>
              <p>japb101020@utdallas.edu</p>
            </div>
            <div class="col-lg-2">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c34.9.113.113/s100x100/404499_3039800069932_74371702_a.jpg" alt="Secretary" class="img-rounded">
            </div>
            <div class="col-lg-2 text-right">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c93.49.618.618/s100x100/484082_10151079411084360_1535701312_n.jpg" alt="Program Coordinator" class="img-rounded">
            </div>
            <div class="col-lg-4">
              <h3 class="topfix">Program Coordinator</h3>
              <p>Conner Davis</p>
              <p>conner.math.davis@gmail.com</p>
            </div>
          </div>         

          <br />
          <div class="row">
            <div class="col-lg-4 text-right">
              <h3 class="topfix">Webmaster</h3>
              <p>Josh Cai</p>
              <p>jxc124730@utdallas.edu</p>
            </div>
            <div class="col-lg-2">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/c23.0.126.126/s100x100/1378195_10201213854681158_158181937_a.jpg" alt="Webmaster" class="img-rounded">
            </div>
            <div class="col-lg-2 text-right">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/c1.0.129.129/s100x100/5216_1080519861980_2993051_s.jpg" alt="Faculty Advisor" class="img-rounded">
            </div>
            <div class="col-lg-4">
              <h3 class="topfix">Faculty Advisor</h3>
              <p>Dr. Paul Stanford</p>
              <p>paul.stanford@utdallas.edu</p>
            </div>
          </div>
          <br />

        </div>
      </div>
    </div>
  </div>


{% endblock %}