{% extends "blog/base.html" %}

{% block jumbo %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="topfix">About</h1>
        <p>Hello World</p>
      </div>
    </div>
{% endblock jumbo %}

{% block content %}
  <div class="row">
    <div class="col-lg-11 centered">
      <h1 class="topfix">Announcements</h1>
      <div class="row">
        <div class="col-lg-11 centered">

          <br />
          <div class="row">
            <div class="col-lg-9">
              <h3 class="topfix">Example Announcement</h3>
            </div>
            <div class="col-lg-3 text-right">
              <p>October 2, 2013</p>
            </div>
          </div>
          <p>When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$ </p>

          <br />
          <div class="row">
            <div class="col-lg-9">
              <h3 class="topfix">Example Announcement</h3>
            </div>
            <div class="col-lg-3 text-right">
              <p>October 2, 2013</p>
            </div>
          </div>
          <p>When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$ </p>

        </div>
      </div>
    </div>
  </div>


{% endblock %}