{% extends "blog/base.html" %}

{% block jumbo %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="topfix">UTD Math Club</h1>
        <p>Join us on Wednesdays at 12:30pm in the Gemini Room!</p>
      </div>
    </div>
{% endblock jumbo %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <h1 class="topfix">Announcements</h1>
    </div>
    <div class="col-lg-6 text-right">
    {% if admin %}
      <a href="{% url 'blog:newannounce' %}">New Announcement </a>
    {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11 centered">
      {% for post in posts %}
      <br />
      <div class="row">
        <div class="col-lg-9">
          {{post.subject_rendered | safe}}
        </div>
        <div class="col-lg-3 text-right">
          <p>{{post.date_str}}</p>
        </div>
      </div>
      {{post.content_rendered | safe}}
      {% if post.author.username == request.session.user %}
        <div class="text-right">
          <a href="{% url 'blog:delete' post.id %}">Delete</a>&nbsp;
          <a href="{% url 'blog:update' post.id %}">Update</a>
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}